$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);
$Withe: #fff;
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

html{
    font-size: 85%
}
body {
    background-color: $Light-Gray;
    display: flex;
    min-height: 100vh;
    place-content: center;
    font-family: "Karla",sans-serif;

    main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: 46rem;
        padding: 4.8rem;
        .join {
            background-color: $Withe;
            grid-column: span 2;
            padding: 2.7rem 3.2rem;
            border-radius: .6rem .6rem 0rem 0rem;
            h1 {
                color: $Cyan;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight: 800;
            }

            span {
                color: $Bright-Yellow;
                display: block;
                margin-bottom: 1.2rem;
                font-weight: 700;
            }

            p {
                color: $Grayish-Blue;
                line-height: 2rem;
            }
        }

        .subscription {
            background-color: $Cyan;
            color: $Light-Gray;
            padding: 3.2rem;
            display: flex;
            flex-direction: column;
            border-radius: 0rem 0rem 0rem .6rem;
            h2 {
                font-size: 1.3rem;
                font-weight: 700;
                white-space: nowrap;
            }

            div {
                display: flex;
                gap: 1rem;
                align-items: center;
                margin-top: 1.4rem;
                margin-bottom: .6rem;
                span {
                    font-weight: 700;
                    font-size: 2.2rem;
                    color: $Light-Gray;
                }

                small {
                    color: hsla(203, 44%, 93%, 0.464);
                }
            }

            button {
                background-color: $Bright-Yellow;
                padding: 1rem 1.6rem;
                border: none;
                border-radius: .5rem;
                font-weight: 700;
                color: $Withe;
                cursor: pointer;
                font-size: 1.1rem;
                margin-top: auto;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
        .whyUs{
            padding: 3.2rem;
            background-color: $Cyan;
            opacity: .7;
            border-radius: 0rem 0rem .6rem 0rem;
            h3{
                font-size: 1.4rem;
                font-weight: 700;
                color: $Light-Gray;
                margin-bottom: 1.6rem;
                opacity: 1;
            }
            p{
                color: $Light-Gray;
                line-height: 1.5rem;
            }
        }

    }

}
@media (max-width: 500px){
    main{
        display:grid !important;
        grid-template-columns: 1fr !important;
        
        .join{
            grid-column:1 !important;
            p{
                line-height: 2.0rem !important;
            }
        }
        .subscription{
            border-radius: 0rem !important;
            button{
                margin-top: 1.5rem !important;
            }
        }
        .whyUs{
            border-radius: 0rem 0rem .6rem .6rem !important;
            margin-bottom: 0rem !important;
        }
    }
    
       
}