$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);
$Withe:#fff;

body{
    font-family: "Karla",sans-serif;
    background-color: $Light-Gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem;
    main{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 65rem;
        overflow: hidden;
        border-radius: .6rem;
        
        .join{
            background-color: $Withe;
            grid-column: span 2;
            padding: 4.7rem 3.2rem;
            h1{
                color:$Cyan;
                margin-bottom: 2rem;
                font-size: 1.4rem;
                font-weight:800;
            }
            span{
                color:$Bright-Yellow;
                display: block;
                margin-bottom:1.2rem;
                font-weight: 700;
            }
            p{
                color:$Grayish-Blue;
                line-height: 1.4;
            }
        }
        .subscription{
            background-color: $Cyan;
            color: $Withe;
            padding: 3rem;
            h2{

            }
            span{
                font-weight: 700;
                font-size: 3.2rem;
                color: $Light-Gray;
            }
            small{
                color: hsla(203, 44%, 93%, 0.464);
            }
            button{
                background-color: $Bright-Yellow;
                padding: .9rem 1.6rem;
                border: none;
                border-radius: .5rem;
                font-weight: 700;
                color:$Withe;
                cursor: pointer;
                font-size: 1.4rem;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
        }
        
    }

}